nameOverride: "aws-credentials-broker"
fullnameOverride: "aws-credentials-broker"

team: "foundation"

service:
  port: 8234

iamRole: arn:aws:iam::479720515435:role/ecsInstanceRole

image:
  repository: flowcommerce/aws-credentials-broker

resources:
  requests:
    memory: "50Mi"
    cpu: .05

jvmOpts:
  enabled: false

istioIngress:
  enabled: true
  gateways:
    - key: aws-credentials-broker-flow-io
      tld: flow.io
      hosts:
        - aws-credentials-broker.flow.io
      dns: true
      proxied: false

istioService:
  live:
    hosts:
      - aws-credentials-broker
      - aws-credentials-broker.flow.io
    gateways:
      - mesh
      - aws-credentials-broker-flow-io
    stages:
      - deployment: live

deployments:
  live:
    minReplicas: 2
    maxReplicas: 2
    maxUnavailable: 1
    env:
      - name: COOKIE_SECRET_1
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: cookie_secret_1
      - name: COOKIE_SECRET_2
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: cookie_secret_2
      - name: HOSTED_DOMAIN
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: hosted_domain
      - name: ALLOWED_ORIGIN
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: allowed_origin
      - name: GOOGLE_CLIENT_REDIRECT
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_client_redirect
      - name: GOOGLE_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_client_id
      - name: GOOGLE_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_client_secret
      - name: GOOGLE_ADMIN_EMAIL
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_admin_email
      - name: GOOGLE_SA_EMAIL
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_sa_email
      - name: GOOGLE_SA_PK
        valueFrom:
          secretKeyRef:
            name: aws-credentials-broker
            key: google_sa_pk

rolloutResource:
  enabled: false

canary:
  # Disable this to follow the default RollingUpdate Strategy
  enabled: false
